OPERATOR_NAME=
NATS_SERVER_URL=

# Hub - app_user
HUB_USERNAME=
HUB_WEBSOCKET_USERNAME=
HUB_PUB_STREAMS=
HUB_SUB_STREAMS=
HUB_ALLOW_CONSUMER_CREATE_STREAMS=
HUB_DENY_CONSUMER_CREATE_STREAMS=
HUB_ALLOW_PUB=
HUB_ALLOW_SUB=
HUB_DENY_PUB=
HUB_DENY_SUB=

# Hub - websocket_user
WEBSOCKET_PUB_STREAMS=
WEBSOCKET_SUB_STREAMS=
WEBSOCKET_ALLOW_CONSUMER_CREATE_STREAMS=
WEBSOCKET_DENY_CONSUMER_CREATE_STREAMS=
WEBSOCKET_ALLOW_PUB=
WEBSOCKET_ALLOW_SUB=
WEBSOCKET_DENY_PUB=
WEBSOCKET_DENY_SUB=

# Leaf - user
LEAF_PUB_STREAMS=
LEAF_SUB_STREAMS=
LEAF_ALLOW_CONSUMER_CREATE_STREAMS=
LEAF_DENY_CONSUMER_CREATE_STREAMS=
LEAF_ALLOW_PUB=
LEAF_ALLOW_SUB=
LEAF_DENY_PUB=
LEAF_DENY_SUB=
